flows.json
[{"id":"c589a91257606fcf","type":"tab","label":"플로우 1","disabled":false,"info":"","env":[]},{"id":"369a87e6c0f356fd","type":"ibmiot in","z":"c589a91257606fcf","authentication":"apiKey","apiKey":"23238a946cb45b18","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"iot","applicationId":"","deviceType":"iot","eventType":"+","commandType":"","format":"json","name":"IBM IoT1","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":100,"y":180,"wires":[["3e67262216e7d277","588fff5d2c09ecd2","6089cfc5c1b2df1e"]]},{"id":"3e67262216e7d277","type":"function","z":"c589a91257606fcf","name":"red_light","func":"if (msg.payload.d.red == undefined){\n    return null;\n}\n\n//flow.set('1',msg.payload.d.red);\nmsg.payload=msg.payload.d.red;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":280,"wires":[["8793a8e522b153f4","b2fa9110a454578e"]]},{"id":"b911a31f2dba60bb","type":"function","z":"c589a91257606fcf","name":"red_light","func":"var evt1 = {};\nevt1.d = {};\n\nevt1.d.red=msg.payload;\nreturn {payload:JSON.stringify(evt1)}; //제이슨 타입으로 바꿈\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":280,"wires":[["dc01b34500dec214","517ea04921c3ba60"]]},{"id":"b2fa9110a454578e","type":"debug","z":"c589a91257606fcf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":400,"wires":[]},{"id":"dc01b34500dec214","type":"ibmiot out","z":"c589a91257606fcf","authentication":"apiKey","apiKey":"23238a946cb45b18","outputType":"cmd","deviceId":"iot","deviceType":"iot","eventCommandType":"POWER","format":"json","data":"data","qos":0,"name":"IBM IoT1","service":"registered","x":1220,"y":260,"wires":[]},{"id":"8793a8e522b153f4","type":"ui_switch","z":"c589a91257606fcf","name":"","label":"Red_light switch","tooltip":"","group":"ea8e9f0bd5134ad1","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":520,"y":280,"wires":[["b911a31f2dba60bb"]]},{"id":"7877595ebed1125f","type":"ui_switch","z":"c589a91257606fcf","name":"","label":"Green_light switch","tooltip":"","group":"ea8e9f0bd5134ad1","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":530,"y":320,"wires":[["e0f3d805d2fcadaa"]]},{"id":"e0494d4207d1ea6e","type":"ui_switch","z":"c589a91257606fcf","name":"","label":"Blue_light switch","tooltip":"","group":"ea8e9f0bd5134ad1","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":530,"y":360,"wires":[["30df037d81ed1752"]]},{"id":"588fff5d2c09ecd2","type":"function","z":"c589a91257606fcf","name":"green_light","func":"if (msg.payload.d.green == undefined){\n    return null;\n}\n\n//flow.set('1',msg.payload.d.green);\nmsg.payload=msg.payload.d.green;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":329.9333190917969,"y":323.26666259765625,"wires":[["7877595ebed1125f"]]},{"id":"6089cfc5c1b2df1e","type":"function","z":"c589a91257606fcf","name":"blue_light","func":"if (msg.payload.d.blue == undefined){\n    return null;\n}\n\n//flow.set('1',msg.payload.d.blue);\nmsg.payload=msg.payload.d.blue;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":360,"wires":[["e0494d4207d1ea6e"]]},{"id":"e0f3d805d2fcadaa","type":"function","z":"c589a91257606fcf","name":"green_light","func":"var evt1 = {};\nevt1.d = {};\n\nevt1.d.green=msg.payload;\nreturn {payload:JSON.stringify(evt1)}; //제이슨 타입으로 바꿈\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":320,"wires":[["dc01b34500dec214","517ea04921c3ba60"]]},{"id":"30df037d81ed1752","type":"function","z":"c589a91257606fcf","name":"blue_light","func":"var evt1 = {};\nevt1.d = {};\n\nevt1.d.blue=msg.payload;\nreturn {payload:JSON.stringify(evt1)}; //제이슨 타입으로 바꿈\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":360,"wires":[["dc01b34500dec214","517ea04921c3ba60"]]},{"id":"517ea04921c3ba60","type":"debug","z":"c589a91257606fcf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":220,"wires":[]},{"id":"23238a946cb45b18","type":"ibmiot","name":"clap8255","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"ea8e9f0bd5134ad1","type":"ui_group","name":"IoT","tab":"8c6f8c40e3a4abdb","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"8c6f8c40e3a4abdb","type":"ui_tab","name":"clap8255","icon":"dashboard","disabled":false,"hidden":false}]