flows.json
[{"id":"c589a91257606fcf","type":"tab","label":"플로우 1","disabled":false,"info":"","env":[]},{"id":"369a87e6c0f356fd","type":"ibmiot in","z":"c589a91257606fcf","authentication":"apiKey","apiKey":"23238a946cb45b18","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"iot","applicationId":"","deviceType":"iot","eventType":"+","commandType":"","format":"json","name":"IBM IoT1","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":100,"y":180,"wires":[["3e67262216e7d277","588fff5d2c09ecd2","6089cfc5c1b2df1e"]]},{"id":"3e67262216e7d277","type":"function","z":"c589a91257606fcf","name":"red_light","func":"if (msg.payload.d.red == undefined){\n    return null;\n}\n\n//flow.set('1',msg.payload.d.red);\nmsg.payload=msg.payload.d.red;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":280,"wires":[["8793a8e522b153f4","b2fa9110a454578e"]]},{"id":"b911a31f2dba60bb","type":"function","z":"c589a91257606fcf","name":"red_light","func":"var evt1 = {};\nevt1.d = {};\n\nevt1.d.red=msg.payload;\nreturn {payload:JSON.stringify(evt1)}; //제이슨 타입으로 바꿈\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":280,"wires":[["dc01b34500dec214","517ea04921c3ba60"]]},{"id":"b2fa9110a454578e","type":"debug","z":"c589a91257606fcf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":400,"wires":[]},{"id":"dc01b34500dec214","type":"ibmiot out","z":"c589a91257606fcf","authentication":"apiKey","apiKey":"23238a946cb45b18","outputType":"cmd","deviceId":"iot","deviceType":"iot","eventCommandType":"POWER","format":"json","data":"data","qos":0,"name":"IBM IoT1","service":"registered","x":1220,"y":260,"wires":[]},{"id":"8793a8e522b153f4","type":"ui_switch","z":"c589a91257606fcf","name":"","label":"Red_light switch","tooltip":"","group":"ea8e9f0bd5134ad1","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":520,"y":280,"wires":[["b911a31f2dba60bb"]]},{"id":"7877595ebed1125f","type":"ui_switch","z":"c589a91257606fcf","name":"","label":"Green_light switch","tooltip":"","group":"ea8e9f0bd5134ad1","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":530,"y":320,"wires":[["e0f3d805d2fcadaa"]]},{"id":"e0494d4207d1ea6e","type":"ui_switch","z":"c589a91257606fcf","name":"","label":"Blue_light switch","tooltip":"","group":"ea8e9f0bd5134ad1","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":530,"y":360,"wires":[["30df037d81ed1752"]]},{"id":"588fff5d2c09ecd2","type":"function","z":"c589a91257606fcf","name":"green_light","func":"if (msg.payload.d.green == undefined){\n    return null;\n}\n\n//flow.set('1',msg.payload.d.green);\nmsg.payload=msg.payload.d.green;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":329.9333190917969,"y":323.26666259765625,"wires":[["7877595ebed1125f"]]},{"id":"6089cfc5c1b2df1e","type":"function","z":"c589a91257606fcf","name":"blue_light","func":"if (msg.payload.d.blue == undefined){\n    return null;\n}\n\n//flow.set('1',msg.payload.d.blue);\nmsg.payload=msg.payload.d.blue;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":360,"wires":[["e0494d4207d1ea6e"]]},{"id":"e0f3d805d2fcadaa","type":"function","z":"c589a91257606fcf","name":"green_light","func":"var evt1 = {};\nevt1.d = {};\n\nevt1.d.green=msg.payload;\nreturn {payload:JSON.stringify(evt1)}; //제이슨 타입으로 바꿈\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":320,"wires":[["dc01b34500dec214","517ea04921c3ba60"]]},{"id":"30df037d81ed1752","type":"function","z":"c589a91257606fcf","name":"blue_light","func":"var evt1 = {};\nevt1.d = {};\n\nevt1.d.blue=msg.payload;\nreturn {payload:JSON.stringify(evt1)}; //제이슨 타입으로 바꿈\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":360,"wires":[["dc01b34500dec214","517ea04921c3ba60"]]},{"id":"517ea04921c3ba60","type":"debug","z":"c589a91257606fcf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":220,"wires":[]},{"id":"96d1747ba271f5e3","type":"function","z":"c589a91257606fcf","name":"1","func":"if (msg.payload.d.DISP == undefined){\n    return null;\n}\nmsg.payload=msg.payload.d.DISP;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":860,"wires":[["67bf368ddb9be5a1","4a997b09c2f5b8fc","3b236a1bd16dde06"]]},{"id":"5949ebab1db333a6","type":"function","z":"c589a91257606fcf","name":"DISP","func":"var evt1 = {};\nevt1.d = {};\n\nevt1.d.DISP=msg.payload;\nreturn {payload:JSON.stringify(evt1)}; //제이슨 타입으로 바꿈\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":860,"wires":[["02b5f81ac8f7a687"]]},{"id":"02b5f81ac8f7a687","type":"debug","z":"c589a91257606fcf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1290,"y":960,"wires":[]},{"id":"149a922bfaac6939","type":"function","z":"c589a91257606fcf","name":"1","func":"if (msg.payload.d.RELAY == undefined){\n    return null;\n}\nflow.set('1',msg.payload.d.RELAY);\nmsg.payload=msg.payload.d.RELAY;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":1040,"wires":[["dd21ee19bbf3a7e1","58822dba3a0a1ddc"]]},{"id":"05a74332298e4df3","type":"function","z":"c589a91257606fcf","name":"Relay","func":"var evt1 = {};\nevt1.d = {};\n\nevt1.d.RELAY=msg.payload;\nreturn {payload:JSON.stringify(evt1)}; //제이슨 타입으로 바꿈\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":1040,"wires":[["f59d5d3c797b77f4"]]},{"id":"f59d5d3c797b77f4","type":"debug","z":"c589a91257606fcf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":1120,"wires":[]},{"id":"45d554c222551940","type":"function","z":"c589a91257606fcf","name":"Ultrasonic","func":"if (msg.payload.d.SONIC == undefined){\n    return null;\n}\nflow.set('1',msg.payload.d.SONIC);\nmsg.payload=msg.payload.d.SONIC;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":680,"wires":[["f4a9256dad4cdf54","29b48f49fab2d29b"]]},{"id":"f4a9256dad4cdf54","type":"debug","z":"c589a91257606fcf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":780,"wires":[]},{"id":"4a997b09c2f5b8fc","type":"debug","z":"c589a91257606fcf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":960,"wires":[]},{"id":"58822dba3a0a1ddc","type":"debug","z":"c589a91257606fcf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":1140,"wires":[]},{"id":"450ea0c60d7951d7","type":"function","z":"c589a91257606fcf","name":"DHT","func":"if (msg.payload.d.TEMP == undefined){\n    return null;\n}\nmsg.payload1=msg.payload.d.TEMP;\nif (msg.payload.d.HUMI == undefined){\n    return null;\n}\nmsg.payload2=msg.payload.d.HUMI;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":680,"wires":[["0cdae7f33ff2dc5a","8965a2bfbfdc332c","6db260d362540c3c","b9ac6d54f60e91cb"]]},{"id":"0cdae7f33ff2dc5a","type":"debug","z":"c589a91257606fcf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":760,"wires":[]},{"id":"1503fb3a9052b3fb","type":"function","z":"c589a91257606fcf","name":"Bright","func":"if (msg.payload.d.Bright == undefined){\n    return null;\n}\nmsg.payload=msg.payload.d.Bright;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":1000,"wires":[["a206bc3c245277c3","335d1ff292819205"]]},{"id":"a206bc3c245277c3","type":"debug","z":"c589a91257606fcf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":1060,"wires":[]},{"id":"b9ac6d54f60e91cb","type":"function","z":"c589a91257606fcf","name":"DHT2","func":"var evt1 = {};\nevt1.d = {};\nif(msg.payload1 > 70 && msg.payload2 >31){\n    msg.payload0 = \"off\";\n}\n\nif(msg.payload1 <= 70 && msg.payload2 <=31){\n    msg.payload0 = \"on\";\n}\nevt1.d.MOTER=msg.payload0;\nreturn {payload:JSON.stringify(evt1)}; //제이슨 타입으로 바꿈","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1370,"y":680,"wires":[[]]},{"id":"335d1ff292819205","type":"function","z":"c589a91257606fcf","name":"Bright_LED","func":"var evt1 = {};\nevt1.d = {};\nif(msg.payload < 1000){\n    msg.payload = \"on\"\n}else if(msg.payload >= 1000){\n    msg.payload = \"off\"\n}\nevt1.d.LED=msg.payload;\nreturn {payload:JSON.stringify(evt1)}; //제이슨 타입으로 바꿈\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1000,"wires":[["bb2ca30aeb83dfdd"]]},{"id":"bb2ca30aeb83dfdd","type":"debug","z":"c589a91257606fcf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":1060,"wires":[]},{"id":"89099e918fb8c2fd","type":"function","z":"c589a91257606fcf","name":"Depth","func":"if (msg.payload.d.depth == undefined){\n    return null;\n}\nflow.set('1',msg.payload.d.depth);\nmsg.payload=msg.payload.d.depth;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":181.93331909179688,"y":864.5999755859375,"wires":[["8d83fc361e01d997","788969c78185c2db"]]},{"id":"788969c78185c2db","type":"debug","z":"c589a91257606fcf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":920,"wires":[]},{"id":"3b236a1bd16dde06","type":"ui_button","z":"c589a91257606fcf","name":"clear disply","group":"ea8e9f0bd5134ad1","order":2,"width":0,"height":0,"passthru":false,"label":"clear disply","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"clearclearclear","payloadType":"str","topic":"topic","topicType":"msg","x":1010,"y":920,"wires":[["5949ebab1db333a6"]]},{"id":"dd21ee19bbf3a7e1","type":"ui_switch","z":"c589a91257606fcf","name":"","label":"Relay switch","tooltip":"","group":"ea8e9f0bd5134ad1","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":1010,"y":1040,"wires":[["05a74332298e4df3"]]},{"id":"67bf368ddb9be5a1","type":"ui_text_input","z":"c589a91257606fcf","name":"","label":"display input","tooltip":"","group":"ea8e9f0bd5134ad1","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":1010,"y":860,"wires":[["5949ebab1db333a6"]]},{"id":"8965a2bfbfdc332c","type":"ui_gauge","z":"c589a91257606fcf","name":"","group":"ea8e9f0bd5134ad1","order":5,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1070,"y":620,"wires":[]},{"id":"6db260d362540c3c","type":"ui_gauge","z":"c589a91257606fcf","name":"","group":"ea8e9f0bd5134ad1","order":6,"width":0,"height":0,"gtype":"gage","title":"HUMI","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#000cb3","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1170,"y":740,"wires":[]},{"id":"8d83fc361e01d997","type":"ui_gauge","z":"c589a91257606fcf","name":"","group":"ea8e9f0bd5134ad1","order":5,"width":0,"height":0,"gtype":"gage","title":"DEPTH","label":"units","format":"{{value}}","min":0,"max":"10000","colors":["#006eb3","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":440,"y":880,"wires":[]},{"id":"29b48f49fab2d29b","type":"ui_chart","z":"c589a91257606fcf","name":"","group":"ea8e9f0bd5134ad1","order":5,"width":0,"height":0,"label":"Ultrasonic chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":480,"y":680,"wires":[[]]},{"id":"23238a946cb45b18","type":"ibmiot","name":"clap8255","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"ea8e9f0bd5134ad1","type":"ui_group","name":"IoT","tab":"8c6f8c40e3a4abdb","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"8c6f8c40e3a4abdb","type":"ui_tab","name":"clap8255","icon":"dashboard","disabled":false,"hidden":false}]